language: python

python:
- '3.6'

script:
- make test

before_deploy:
- openssl aes-256-cbc -K $encrypted_4e68c633c72c_key -iv $encrypted_4e68c633c72c_iv
  -in deploy_key.enc -out deploy_key -d
- eval "$(ssh-agent -s)"
- chmod 600 ./deploy_key
- echo -e "Host $SERVER_IP\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- ssh-add ./deploy_key

deploy:
  - provider: script
    skip_cleanup: true
    script:
      - ssh -i ./deploy_key $SERVER_USER@$SERVER_IP -p $SERVER_PORT git --git-dir=/home/pi/Desktop/cunadobot/.git pull
    on:
      branch: master